.left_column{
  background-color: @color-2;
  width: 240px;
  height: 100%;
  flex-basis: 300px;
  padding-top: 100px;
  position: fixed;
  left: 134px;
  top: 8px;


  &__header{
      font-size: 16px;
      color: @color-10;
      text-align: center;
  }
}
