.left_column__navigation{
  margin-top: 90px;
  text-align: center;

  &_list{
    list-style-type: none;
    padding: 0px;

  }
  &_item{

  }
  &_link{
    text-decoration: none;
    color:  @color-10;
    font-size: 11px;
  }
}
